---
- name: Playbook to configure ansible controller post installation
  hosts: all
  vars_files:
    - ../vaults/{{ env }}.yml
  connection: local

  tasks:
    - name: Call license role
      ansible.builtin.include_role:
        name: infra.aap_configuration.controller_license
      when: controller_license is defined